{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("olex") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>
<!-- {{'white' if section == blog else ''}} -->
		{# HEADER #}
		<div id="header" class="container">
			<nav class="nav">
				<ul class="nav-link-list">
					{% for link in navLinks %}
						<li class="nav-link-container">
							<a href="{{ link.href }}" class="{% if section == "post" or section == "subpage" or section == "kontakt" %} white {% endif %} {% if section == link.key %} active {% endif %} nav-link">{{ link.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<div id="footer" class="container">
			<object class="footer-logo" type="image/svg+xml" data="../images/logo-dark.svg"></object>
			<div class="footer-container">

				<h3 class="footer-title">LINKI<hr></h3>
				<h3 class="footer-title">DO POBRANIA<hr></h3>
				<h3 class="footer-title">NA SKRÓTY<hr></h3>
				<h3 class="footer-title">DLACZEGO MY?<hr></h3>	

				<div class="footer-text-container">
					
					<a class="footer-link" href="https://www.lg.com/pl/klimatyzacja">LG Electronics Inc.</a>
					<a class="footer-link" href="https://www.sharp.pl/cps/rde/xchg/pl/">Sharp</a>
					<a class="footer-link" href="http://www.fujitsu.com/pl/">Fujitsu</a>
					<a class="footer-link" href="http://www.toshiba-aircon.co.uk/">Toshiba</a>
					<a class="footer-link" href="https://www.daikin.pl/pl_pl/customers.html">Daikin</a>
				</div>
				<div class="footer-text-container">
					
					<a class="footer-link" href="#">Atesty</a>
					<a class="footer-link" href="#">Dokumentacja</a>
					<a class="footer-link" href="#">Gwarancje</a>
					<a class="footer-link" href="#">Instrukcje</a>
					<a class="footer-link" href="#">Cenniki</a>	
				</div>
				<div class="footer-text-container">
					
					<a class="footer-link" href="/">O firmie</a>
					<a class="footer-link" href="/klimatyzacja">Klimatyzacja</a>
					<a class="footer-link" href="/wentylacja">Wentylacja</a>
					<a class="footer-link" href="/rekuperacja">Rekuperacja</a>
					<a class="footer-link" href="/kontakt">Kontakt</a>
				</div>
				<div class="footer-text-container">
					<a class="footer-image-link" href="http://wizytowka.rzetelnafirma.pl/5VR1ILN7/1">
						<img class="footer-rf-logo" src="/images/rzetelna.jpg"/>
					</a>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© Olex 2018</p>
				<p>Made with <span class="footer-heart">&hearts;</span> by <a href="https://github.com/WetCouch" class="footer-link">Wojciech Janoszek</a> & <a href="https://github.com/Endrzei" class="footer-link">Andrzej Kania</a></p>
			</div>
		</div>


		{# JAVASCRIPT #}


		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}
		{% endblock %}
	</body>
</html>
