{% extends "layouts/default.html" %}

{% block content %}
<section id="title">
    <div class="title-layer">
        <div class="title-container">
            <h1 class="title-title">
                {% block title %}{% endblock %}
            </h1>
            <h3 class="title-description">
                {% block titleDescription %}{% endblock %}
            </h3>
            <div onclick="location.href='/realizacje'" class="title-button"><a class="realizacjeButton">ZOBACZ REALIZACJE</a></div>
        </div>
    </div>
</section>
<section id="description">
        <div class="under-construction">
                <h1>Strona w budowie</h1>
                <hr class="big-bar">
        </div>

        {% block description%}
        {% endblock %}
</section>

{% endblock %}
