{% extends "layouts/default.html" %}

{% block css %}
<link rel="stylesheet" href="/libraries/lightgallery/css/lightgallery.min.css">
{% endblock %}

{% block content %}
	<div class="gallery">
		{% if galleries.length %}
			{% for gallery in galleries %}
				<div class="gallery-container">
					<div style="background-image: url('{{ gallery._.heroImage.limit(1920,1080) }}')" class="gallery-hero">
						<!--<img src="{{ gallery._.heroImage.limit(1024,720) }}" class="gallery-hero">-->
					</div>
					<div class="gallery-content">
						<div class="gallery-desc">
							<h2 class="gallery-title">{{ gallery.name }}</h2>
					
							{% if gallery.publishedDate %}
							<p class="gallery-date">{{ gallery._.publishedDate.format("DD.MM.YYYY") }}</p>
							{% endif %}
						</div>
				
						<div id="lightgallery" class="gallery-images-container">
								{% for image in gallery.images %}
									<a href="{{ image.limit(1920,1080) }}" class="gallery-image">
										<img src="{{ image.limit(400,400) }}" class="image-crop">
									</a>
								{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h3 class="text-muted">There are no image galleries yet.</h3>
		{% endif %}
	</div>
{% endblock %}

{% block js %}
<script src="/libraries/lightgallery/js/lightgallery.min.js"></script>
<script>
	lightGallery(document.getElementById('lightgallery'));
</script>
{% endblock %}
