{% extends "layouts/default.html" %}

{% block css %}
<link rel="stylesheet" href="/libraries/lightgallery/css/lightgallery.min.css">
{% endblock %}

{% block content %}
    <div class="attention"><p class="attention-message">Zapraszamy do naszej nowej siedziby przy ul. Leśnianka 141a</p><hr></div>
	<section id="tiles">
        <div class="container">
            <div onclick="location.href='/blog'" class="tile-container">
                <div class="overflow-hidden"><div class="tile tile-1"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/newspaper.svg"></object>
                    <a href="/blog"><h3>AKTUALNOŚCI</h3></a>
                    <p>Zobacz co u nas nowego,<br> 
                    sprawdź najnowsze realizacje,<br>
                    oraz poczytaj o rozwoju naszej firmy.
                    </p>
                </div>
            </div>
            <div onclick="location.href='/klimatyzacja'" class="tile-container">    
                    <div class="overflow-hidden"><div class="tile tile-2"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/snowflake.svg"></object>
                    <a href="/klimatyzacja"><h3>KLIMATYZACJA</h3></a>
                    <p>Wytworzenie odpowiedniego mikroklimatu<br>
                    w pomieszczeniu, czyli nadanie powietrzu<br>
                    właściwości takich jak odpowiednia<br>
                    temperatura, czy wilgotność.
                    </p>    
                </div>
            </div>
            <div onclick="location.href='/wentylacja'" class="tile-container">
                
                <div class="overflow-hidden"><div class="tile tile-3"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/ventilator.svg"></object>
                    <a href="/wentylacja"><h3>WENTYLACJA</h3></a>
                    <p>Efektywna wentylacja jest niezbędnym<br>
                    czynnikiem zapewniającym zdrowie i<br>
                    dobre samopoczucie, podczas gdy jej<br>
                    brak sprzyja rozwojowi grzybów<br>
                    oraz bakterii.
                    </p>
                </div>
            </div>
            <div onclick="location.href='/rekuperacja'" class="tile-container">
                <div class="overflow-hidden"><div class="tile tile-4"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/recycle.svg"></object>
                    <a href="/rekuperacja"><h3>REKUPERACJA</h3></a>
                    <p>Wentylacja mechaniczna nawiewno-wywiewna<br>
                    z odzyskiem ciepła, która coraz częściej jest<br>
                    stosowana w domach mieszkalnych<br>
                    oraz instytucjach.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about-section">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">O FIRMIE<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">Nasza firma powstała w 2006 r. w Żywcu ,
                     jako odpowiedź na rosnące zapotrzebowanie na rynku lokalnym na doświadczoną , fachową
                      ekipę , która posiada wizję tworzenia pomysłowych , nowatorskich rozwiązań w branży
                       klimatyzacyjnej oraz wentylacyjnej. 
                         
                </p>
                <p class="about-paragraph">
                        <br>
                        Kolejne lata wytężonej  działalności oraz nabywanego doświadczenia pozwoliły
                         nam uzyskać bardzo szerokie grono zadowolonych klientów oraz opinię rzetelnego,
                          godnego polecenia partnera dla każdego komu zależy na szybkim i
                           sprawnym wykonaniu robót  od projektu poprzez realizację  na pomiarach wydajności kończąc.
                        
                </p>
            </div>
        </div>
        <div class="about-section-reverse">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">NASZE KADRY<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">
                            Nasza  kadra to ekipa energicznych , doświadczonych
                          fachowców posiadających wszystkie niezbędne uprawnienia i przechodzących 
                           regularne szkolenia w celu ciągłego  podniesienia swoich kwalifikacji.
                           <br> <br>
                        
                </p>
                <p class="about-paragraph">
                        
                            Dysponujemy nowoczesnym i profesjonalnym sprzętem co
                          znacznie ułatwia nam pracę i sprawia ,że jesteśmy w
                           stu procentach niezależni od firm podwykonawczych.
                           <br><br>
                         
                </p>
                <p class="about-paragraph">
                        
                        Przywiązujemy bardzo wielką uwagę
                         do Bezpieczeństwa oraz Higieny Pracy
                          co przekłada się na jeszcze większe zadowolenie naszych klientów.
                         
                </p>
                <p class="about-paragraph">
                    <br>
                        <span class="about-bold">Wybierając naszą firmę wybierasz gwarancję jakości i zapominasz o problemach..</span>
                </p>
            </div>
        </div>
        
    </section>

	<section id="implementations">
		<h2 class="implementations-title">NASZE OSTATNIE REALIZACJE<hr></h2>

		{% if galleries.length %}
		<div class="implementations-container">
		{% for gallery in galleries %}
			<div class="implementation">
				<h2 class="implementation-subtitle">{{ gallery.name }}</h2>

				<div id="gallery{{loop.index}}" class="implementation-images-container">
					{% for image in gallery.images.slice(0, 1) %}
					<a href="{{ image.limit(1920,1080) }}">
						<img src="{{ image.limit(400,400) }}" class="implementation-image">
					</a>
					{% endfor %}
					{% for image in gallery.images.slice(1, gallery.images.length) %}
					<a href="{{ image.limit(1920,1080) }}" class="implementation-image-hidden">
						<img src="{{ image.limit(400,400) }}">
					</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		</div>
		{% else %}
		<h3 class="implementations-ifnone">Realizacje zostaną wkrótce dodane</h3>
		{% endif %}
		
		<hr class="big-bar">
	</section>

    <section id="contact">
        <div class="contact-container">
            <div class="contact-title-container">
                <h2 class="contact-title">KONTAKT<hr></h2>
            </div>
            <div class="contact-info-container">
                    <span class="contact-bold">PPUH "OLEX" Aleksander Kania</span><br>
                    ul. Leśnianka 141a<br>
                    34-300 Żywiec<br>
                    <br>
                    <span class="contact-bold">tel/fax:</span> 33 861 62 89<br>
                    <span class="contact-bold">kom:</span> 697 519 529<br>
                    <span class="contact-bold">kom:</span> 693 326 677<br>
                    <span class="contact-bold">kom:</span> 500 338 700<br>
                    <br>
                    <span class="contact-bold">e-mail:</span> ppuh.olex@poczta.fm<br>
                    <span class="contact-bold">e-mail:</span> biuro@klimatyzacja-olex.pl<br>
                    <span class="contact-bold">e-mail:</span> biuro1@klimatyzacja-olex.pl<br>
                    <span class="contact-bold">e-mail:</span> j.karcz@klimatyzacja-olex.pl<br>
                    
                    <br>
                    Zapraszamy do naszej siedziby od<br> poniedziałku do piątku<br>
                    w godzinach: <span class="contact-bold">7:00 - 15:00</span><br>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
<script src="/libraries/lightgallery/js/lightgallery.min.js"></script>
<script type="text/javascript">
	for (var i = 1; i < 4; i++) {
		lightGallery(document.getElementById('gallery'+i), {
			hash: true,
			galleryId: i
		});
	}
</script>
{% endblock %}
