{% extends "layouts/default.html" %}

{% block content %}
	<section id="tiles">
        <div class="container">
            <div class="tile-container">
                <div class="overflow-hidden"><div class="tile tile-1"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/newspaper.svg"></object>
                    <h3>AKTUALNOŚCI</h3>
                    <p>Zobacz co u nas nowego, 
                    sprawdź najnowsze realizacje,
                    oraz poczytaj o rozwoju naszej firmy.
                    </p>
                </div>
            </div>
            <div class="tile-container">    
                    <div class="overflow-hidden"><div class="tile tile-2"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/snowflake.svg"></object>
                    <h3>KLIMATYZACJA</h3>
                    <p>Wytworzenie odpowiedniego mikroklimatu
                    w pomieszczeniu, czyli nadanie powietrzu 
                    właściwości takich jak odpowiednia temperatura, 
                    czy wilgotność.
                    </p>    
                </div>
            </div>
            <div class="tile-container">
                
                <div class="overflow-hidden"><div class="tile tile-3"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/ventilator.svg"></object>
                    <h3>WENTYLACJA</h3>
                    <p>Efektywna wentylacja jest niezbędnym
                    czynnikiem zapewniającym zdrowie i 
                    dobre samopoczucie, podczas gdy jej 
                    brak sprzyja rozwojowi grzybów 
                    oraz bakterii.
                    </p>
                </div>
            </div>
            <div class="tile-container">
                <div class="overflow-hidden"><div class="tile tile-4"></div></div>
                <div class="tile-box">
                    <object type="image/svg+xml" data="../images/recycle.svg"></object>
                    <h3>REKUPERACJA</h3>
                    <p>Wentylacja mechaniczna nawiewno-wywiewna 
                    z odzyskiem ciepła, która coraz częściej jest 
                    stosowana w domach mieszkalnych 
                    oraz instytucjach.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about-section">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">O FIRMIE<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">Firma P.P.U.H. „OLEX” powstała w Żywcu w
                         2006 roku, na bazie 10 letniego doświadczenia
                         pracy w branży klimatyzacyjno - wentylacyjnej.
                         
                </p>
                <p class="about-paragraph">
                        <br>
                        Posiadamy odpowiednią wiedzę, 
                        doświadczenie i uprawnienia wymagane przy pracy z 
                        klimatyzacją, wentylacją, systemami detekcji gazów, 
                        odprowadzenia spalin, instalacjami elektrycznymi oraz
                        aparaturą kontrolno - pomiarową do wszystkich wyżej
                        wymienionych systemów.
                        
                </p>
            </div>
        </div>
        <div class="about-section-reverse">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">NASZE KADRY<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">
                        Zatrudniamy wykwalifikowanych pracowników, 
                        z wieloletnim doświadczeniem w branżach: klimatyzacyjnej, 
                        wentylacyjnej, elektrycznej, elektronicznej. Nasi pracownicy 
                        posiadają wszystkie wymagane uprawnienia oraz przechodzą regularne 
                        szkolenia w celu stałego podnoszenia swoich kwalifikacji. 
                        Są ubezpieczeni i wyposażeni w odpowiednie środki ochrony 
                        osobistej, oraz odpowiednie narzędzia pracy.
                        
                </p>
                <p class="about-paragraph">
                        <br>
                        Posiadamy również wykwalifikowaną kadrę inżynierów, 
                        którzy potrafią zaprojektować systemy wentylacyjno 
                        - klimatyzacyjne z zastosowaniem najnowocześniejszych
                         rozwiązań dostępnych na rynku, dzięki czemu potrafimy 
                         sprostać nawet najbardziej wymagającym klientom.
                         
                </p>
            </div>
        </div>
        <div class="about-section">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">DLACZEGO MY?<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">
                        Nie ograniczamy swojej działalności tylko do naszego regionu. 
                        W przeciągu zaledwie kilku lat zdołaliśmy z 
                        powodzeniem zrealizować wiele projektów na terenie całego kraju, 
                        jak i za granicą, dzięki czemu uzyskaliśmy opinię fachowego, 
                        niezawodnego, partnera perfekcyjnie wykonującego każdy nawet 
                        najbardziej skomplikowany projekt.
                        
                </p>
                <p class="about-paragraph">
                        <br>
                        Oferujemy bardzo szeroki zakres usług od doradztwa poprzez projekt, 
                        montaż , serwis , naprawy, pogotowie klimatyzacyjne. W przypadku 
                        nagłych awarii jesteśmy u klienta nawet w niedzielę i święta. 
                        Zapewniamy utrzymanie ruchu w zakładach produkcyjnych.
                        
                </p>
            </div>
        </div>
        <div class="about-section-reverse">
            <div class="about-sidetitle-container">
                <h2 class="about-sidetitle">SKRRRT<hr></h2>
                
            </div>
            <div class="about-sidetext-container">
                <p class="about-paragraph">
                        Posiadamy również w Żywcu magazyny z materiałami montażowymi 
                        takimi jak rury, kształtki, kompletny osprzęt wentylacyjny oraz 
                        wszystkie podstawowe materiały potrzebne do montażu klimatyzacji. 
                        Na naszej stronie internetowej znajdą Państwo katalogi oraz cenniki 
                        z niektórymi, wybranymi, dostępnymi u nas urządzeniami i materiałami.
                         Posiadamy atrakcyjne rabaty u bezpośrednich producentów oraz dystrybutorów.
                          W razie zainteresowania prosimy o przysyłanie zapytań ofertowych. 
                          Odpowiemy na każdego e-maila.
                </p>
            </div>
        </div>
        <hr class="big-bar">
    </section>
    <section id="contact">
        <div class="contact-container">
            <div class="contact-title-container">
                <h2 class="contact-title">KONTAKT<hr></h2>
            </div>
            <div class="contact-info-container">
                    <span class="contact-bold">PPUH "OLEX" Aleksander Kania</span><br>
                    ul. Prosta <br>
                    34-300 Żywiec<br>
                    <br>
                    <span class="contact-bold">NIP:</span> 553-154-26-76<br>
                    <span class="contact-bold">REGON:</span> 240456263<br>
                    <br>
                    <span class="contact-bold">tel/fax:</span> 33 861 62 89<br>
                    <span class="contact-bold">kom:</span> 697 519 529<br>
                    <span class="contact-bold">kom:</span> 693 326 677<br>
                    <span class="contact-bold">kom:</span> 500 338 700<br>
                    <br>
                    <span class="contact-bold">e-mail:</span> ppuh.olex@poczta.fm<br>
                    <span class="contact-bold">e-mail:</span> biuro@klimatyzacja-olex.pl<br>
                    <span class="contact-bold">e-mail:</span> biuro1@klimatyzacja-olex.pl<br>
                    <br>
                    <span class="contact-bold">e-mail:</span> pawelpituch@klimatyzacja-olex.pl<br>
                    <br>
                    <span class="contact-bold">Bank:</span> ING Bank Śląski S.A. O/Żywiec<br>
                    <span class="contact-bold">Konto:</span> 37 1050 1070 1000 0023 2972 4203<br>
                    <br>
                    Zapraszamy do naszej nowej siedziby od<br> poniedziałku do piątku<br>
                    w godzinach: <span class="contact-bold">7:00 - 15:00</span><br>
                    <br>
                    Znajdujemy się obok urzędu pracy w Żywcu.
            </div>
        </div>
    </section>
{% endblock %}
