{% extends "layouts/defaultSubpage.html" %}

{% block title %}
KLIMATYZACJA
{% endblock %}

{% block titleDescription %}
Właściwa klimatyzacja oraz wentylacja to kluczowe czynniki w nowoczesnym i przyjaznym domu.
{% endblock %}

{% block description %}
<div class="container>"><p>
</p></div>
{% endblock %}
{% block js %}

<script>
    var bgImage = document.getElementById("title");
    var realizacje = document.getElementsByClassName("realizacjeButton");
    var tileLink1 = document.getElementsByClassName("a-1");
    var tileLink2 = document.getElementsByClassName("a-2");
    var tileLink3 = document.getElementsByClassName("a-3");


    document.addEventListener("DOMContentLoaded", function(event) { 
    
        bgImage.style.backgroundImage = "url(\"/images/tile2.jpg\")";
        realizacje.setAttribute("href", "#");
        
        

    });
</script>
{% endblock %}