{% extends "layouts/default.html" %}

{% block content %}
<section id="title">
    <div class="title-layer">
        <div class="title-container">
            <h1 class="title-title">KONTAKT</h1>
        
        </div>
    </div>
</section>
<section id="description">
<div class="contact-container">
    <span class="contact-bold">PPUH "OLEX" Aleksander Kania</span><br>
    ul. Prosta 2<br>
    34-300 Żywiec<br>
    <br>
    <span class="contact-bold">tel/fax:</span> 33 861 62 89<br>
    <span class="contact-bold">kom:</span> 697 519 529<br>
    <span class="contact-bold">kom:</span> 693 326 677<br>
    <span class="contact-bold">kom:</span> 500 338 700<br>
    <br>
    <span class="contact-bold">e-mail:</span> ppuh.olex@poczta.fm<br>
    <span class="contact-bold">e-mail:</span> biuro@klimatyzacja-olex.pl<br>
    <span class="contact-bold">e-mail:</span> biuro1@klimatyzacja-olex.pl<br>
    <span class="contact-bold">e-mail:</span> pawelpituch@klimatyzacja-olex.pl<br>
    <span class="contact-bold">e-mail:</span> j.karcz@klimatyzacja-olex.pl<br>
    <br>
    Zapraszamy do naszej siedziby od<br> poniedziałku do piątku<br>
    w godzinach: <span class="contact-bold">7:00 - 15:00</span><br>
    <br>
    
    
</div>
<div class="map-description">Znajdujemy się obok urzędu pracy w Żywcu.</div>
<div id="map"></div>        
</section>

{% endblock %}

{% block js %}
<script>
    
</script>

<script>

//MAP SCRIPT

function initMap() {

  var olex = {lat: 49.678469, lng: 19.176861};
  
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: olex});
  
  var marker = new google.maps.Marker({position: olex, map: map});
}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE11KL4yiwfjzMiblvHKKBU1tQADEOTZA&callback=initMap">
    //api key AIzaSyDE11KL4yiwfjzMiblvHKKBU1tQADEOTZA
</script>
{% endblock %}