{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
				<article class="post-container">
					{% if not data.post %}
						<h2>Invalid Post.</h2>
					{% else %}
						{% if data.post.image.exists %}
						<div class="post-image">
							<img src="{{ data.post._.image.fit(1920,1080) }}" class="img-responsive">
						</div>
						{% endif %}
						<header>
							<h1 class="post-title">{{ data.post.title }}</h1>	
							<p class="post-date">
								{% if data.post.publishedDate %}
								{{ data.post._.publishedDate.format("DD.MM.YYYY") }}
								{% endif %}
							</p>
						</header>
						<div class="post-content">
							{{ data.post.content.full|safe }}
						</div>
					{% endif %}
				</article>
	</div>
{% endblock %}
