{% extends "layouts/defaultSubpage.html" %}

{% block title %}
WENTYLACJA
{% endblock %}

{% block titleDescription %}
Efektywna wentylacja jest niezbędnym czynnikiem zapewniającym zdrowie i dobre samopoczucie osobom przebywającym wewnątrz budynku.
{% endblock %}

{% block description %}
<div class="container>"<p>There's no point in designing this section as long as we dont have its actual content.
    </p></div>
{% endblock %}

{% block tile1 %}
WENTYLACJA DOMÓW
{% endblock %}

{% block tile2 %}
WENTYLACJA ZAKŁADÓW PRODUKCYJNYCH
{% endblock %}

{% block tile3 %}
WENTYLACJA BIUR
{% endblock %}

{% block js %}
<script>
    var bgImage = document.getElementById("title");
    var realizacje = document.getElementsByClassName("realizacjeButton");
    var tileLink1 = document.getElementsByClassName("a-1");
    var tileLink2 = document.getElementsByClassName("a-2");
    var tileLink3 = document.getElementsByClassName("a-3");


    document.addEventListener("DOMContentLoaded", function(event) { 
    
        bgImage.style.backgroundImage = "url(\"/images/tile3.jpg\")";
        
        

    });
</script>
{% endblock %}