.blog-posts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 90%;
    margin: 7% auto;

    .blog-post-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
        background-position: center;
        background-repeat: no-repeat;
        .blog-post {
            background-color: white;
            border-radius: 10px;
            width: 60%;
            padding: 10% 5%;
            text-align: center;
            color: #252628;
            .blog-post-title {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 5px;
                font-weight: 700;
                font-size: 1.2em;
                color: #252628;
                margin-top: 5%;
            }
            .blog-post-line {
                border: none;
                border-top: 2px solid $altBlue;
                width: 40%;
                margin-top: 5%;
            }
            .blog-post-date {
                color: #969696;
                font-size: 0.9em;
            }
            .blog-post-desc {
                letter-spacing: 3px;
                margin-top: 5%;
                margin-bottom: 10%;
            }
        }
    }
}