$tile-photos: url("/images/tile1.jpg") url("/images/tile2.jpg") url("/images/tile3.jpg") url("/images/tile4.jpg");
$tile-sizes: 72vw 60vw 80vw 80vw;
$tile-pos-x: -8vw -10vw -16vw -24.5vw;
$tile-pos-y: -1.5vw -1vw -4vw -7vw;
body {
    overflow-x: hidden;
}
#tiles{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vw;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
        

        .tile-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .overflow-hidden{
                overflow: hidden;
                width: 90%;
                height: 90%;
                
                .tile {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    filter: blur(0.12vw);       
                }
                @for $i from 1 through 4 {
                    .tile-#{$i}{
                        background-image: nth($tile-photos, $i);
                        background-size: nth($tile-sizes, $i), cover;
                        background-position: nth($tile-pos-x, $i) nth($tile-pos-y, $i);
                    }
                }               
            }
            .tile-box {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 54%;
                height: 45%;
                z-index: 2;
                text-align: center;
                border-radius: 5%;
                background-color: #ffffff;
			  transition: 0.5s;  
			  
                object {
                    margin: 0;
                    margin-top: 2.5vw;
                    height: 25%;
                    width: 25%;
                }
                a {

                    color: black;
                    text-decoration: none;

                    h3 {
                        margin: 0;
                        margin-top: 2.5vw;
                        font-size: 1.4vw;
                        font-weight: 700;
                        letter-spacing: 3px;
                        
                    }
                }
                p {
                    text-align: center;
                    margin: 0;
                    margin-top: 1.8vw;
                    color: #888;
                    font-size: 1.1vw;
                    line-height: 1.4vw;
                    
                }
            }
            
        }
	  
	  .tile-container:hover {
		cursor: pointer;
		.tile-box {
		  transform: scale(1.15);
		}
	  }
    }
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

    .about-section, .about-section-reverse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10% 0 0 0;

        
        .about-sidetitle-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 50%;

            .about-sidetitle {
                margin:auto;
                font-weight: 400;               
                letter-spacing: 0.12em;
                font-size: 3.5em;
                font-family: 'Acid-Bold';

                hr {
                    width: 2em;
                    border: none;
                    border: 2px solid $altBlue;
                    border-radius: 5px;
                    margin-top: 0.1em;
                }
            }
            
        }

        .about-sidetext-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            .about-paragraph {
                text-align: justify;
                width: 70%;
                color: #333;
                letter-spacing: 0.1em;
                line-height: 1.4em;
                font-size: 1.3em;

            }
        }
    }
    .about-section-reverse {
        flex-direction: row-reverse;
    }
    .big-bar {
        width: 60%;
        border: none;
        border: solid 2px $altBlue;
        border-radius: 10px;
        margin-top: 10%;
    }
}

#implementations {
  .implementations-title {
	margin-top: 10%;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.12em;
	font-size: 3.5em;
	font-family: 'Acid-Bold';
  }
  
  .implementations-ifnone {
	margin-top: 10%;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.12em;
	font-size: 2em;
  }
  
  .implementations-container {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
	
	.implementation {
	  width: 30%;
	  
	  .implementation-subtitle {
		margin-bottom: 3%;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.1em;
		letter-spacing: 2px;
	  }

	  .implementation-image-hidden {
		display: none;
	  }
	}
  }
  
  .big-bar {
	width: 60%;
	border: none;
	border: solid 2px $altBlue;
	border-radius: 10px;
	margin-top: 10%;
  }
}

#contact {
    display: flex;
    flex-direction:column;
    width: 100%;
    
    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 10%;

        .contact-title-container {
            margin:auto;
            font-weight: 400;
            letter-spacing: 0.12em;
            

            .contact-title{
                font-size: 3.5em;
                font-family: 'Acid-Bold';
                font-weight: 400;
            }

            hr {
                width: 2em;
                border: none;
                border: 2px solid $altBlue;
                border-radius: 5px;
                margin-top: 0.1em;
            }
        }

        .contact-info-container {
            text-align:center;
            line-height: 1.6em;
            width: 50%;

            .contact-bold {
                white-space: nowrap;
                font-weight: 700;
            }
        }
    }
}

/* hides the paragraphs in tiles for smaller desktops and tablets */
@media only screen and (min-width: 480px) and (max-width: 1080px){
    #tiles{
        .container {
            .tile-container {
                .overflow-hidden {
                    width: 95%;
                    height: 95%;

                    @for $i from 1 through 4 {
                        .tile-#{$i}{
                            background-size: (nth($tile-sizes, $i)) * 1.055, cover;
                            background-position: (nth($tile-pos-x, $i)) * 1.055  (nth($tile-pos-y, $i)) * 1.055;
                            filter: blur(0.15vw);
                        }
                    }
                }
                .tile-box {           
                    
                    object {
                        margin-top: 20%;
                        height: 30%;
                        width: 30%;
                    }
                    
                    a{
                        margin: 10% 10% 5% 10%;
                        h3 {
                            font-size: 2.4vw;;
                            font-weight: 700;
                            letter-spacing: 0.3vw;
                        }
                    }

                    p {
                        display: none;
                    }
                }      
            }
        }
    }
}
/* changes text layout to a single column for tablets */
@media only screen and (min-width: 480px) and (max-width: 819px){
    #about{
        .about-section, .about-section-reverse{
           flex-direction: column;
           margin: none;

           .about-sidetitle-container, .about-sidetext-container{
               width: 90%;
               .about-paragraph {
                   width: 90%;
                   letter-spacing: none;
                   font-size: 1.1em;
               }
           }
           .about-sidetitle-container{
               height: 50vh;

               .about-sidetitle {
                   
                   margin: none;
                }
            }
        }
       .big-bar{
           display: none;
        }
    }
   #contact {
    justify-content: center;
    align-items: center;

        .contact-container{
            flex-direction: column;
            margin: none;

            .contact-title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50vh;

                .contact-title {
                    margin: none;
                }
            }
            .contact-info-container{
                width: 100%;  
                font-size: 0.8em;

            }
        }
    }
}
/* puts the tiles in a single column and does some cosmetic changes to the text for phones */
@media only screen and (max-width: 479px) {
    #tiles{
        width: 100%;
        height: 294vw;
        
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;    
                              
            .tile-container{

                .overflow-hidden {
                    width: 100%;
                    height: 100%;
                    border-bottom: solid 1.5px white;
                    border-top: solid 1.5px white;

                    @for $i from 1 through 4 {
                        .tile-#{$i}{
                        background-size: (nth($tile-sizes, $i)) * 2.22, cover;
                        background-position: (nth($tile-pos-x, $i)) * 2.22  (nth($tile-pos-y, $i)) * 2.22;
                        filter: blur(0.3vw);
                        }
                    }   
                    
                }
                .tile-box{
                    width: 60%;
                    height: 40%;
                    border: solid 0.5px $altBlue;

                    object {
                        height: 35%;
                        width: 35%;
                        margin-top: 8%;
                    }
                    a {
                        margin: 5% 10% 10% 10%;
                        h3 {
                            font-size: 5vw;
                            font-weight: 700;
                            letter-spacing: 0.5vw;
                        }
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
    }
    #about{
        .about-section, .about-section-reverse{
            flex-direction: column;
            margin: none;

            .about-sidetitle-container, .about-sidetext-container{
                width: 90%;
                .about-paragraph {
                    width: 90%;
                    letter-spacing: none;
                    font-size: 1em;
                }
            }
            .about-sidetitle-container{
                height: 110vh;

                .about-sidetitle {
                    line-height: 1.3em;
                    margin: none;
                }
            }
        }
        .big-bar{
            display: none;
        }
    }
    #contact {
        justify-content: center;
        align-items: center;

        .contact-container{
            flex-direction: column;
            margin: none;

            .contact-title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 110vh;

                .contact-title {
                    margin: none;
                }
            }
            .contact-info-container{
                width: 100%;
                               
                font-size: 0.8em;

            }
        }
    }
}
