#header {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    .nav {
	  	display: flex;
	  	flex-direction: row;
	  	justify-content: space-between;
	  	padding: 0 3%;
	  	align-items: center;
	  	.nav-logo-link {
		  display: inline-block;
		  .nav-logo {
			width: 100%;
			pointer-events: none;
		  }
		}
        .nav-link-list {
            width: 75%;
		  	text-align: right;
            .nav-link-container {
                display: inline-block;
                margin-right: 5%;
                .nav-link {
                    text-decoration: none;
                    color: #252628;
                    font-weight: 700;
                    letter-spacing: 3px;
                    font-size: 1.1em;
				  	transition: 0.5s;
                }
				.nav-link:hover {
				  color: $altBlue;
				}
                .white {
                    color: white;
                }
			  	.active {
					color: $altBlue;
			  	}
            }
        }
    }
}


@media only screen and (max-width: 800px) {
  #header {
	position: static;
	.nav {
	  flex-direction: column;
	  .nav-logo {
		
	  }
	  .nav-link-list {
		float: none;
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		margin: 5% auto;
		//border: 1px solid black;
		.nav-link-container {
		  margin: 2% 0;
		  .nav-link {
			color: #252628;
		  }
		}
	  }
	}
  }
}
