/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url("../fonts/Lato-Light.ttf"); }

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("../fonts/Lato-Bold.ttf"); }

body {
  font-family: 'Lato', sans-serif; }

#header {
  margin-top: 30px; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

#header {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0; }
  #header .nav .nav-link-list {
    float: right;
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%; }
    #header .nav .nav-link-list .nav-link-container {
      display: inline-block;
      margin-right: 5%; }
      #header .nav .nav-link-list .nav-link-container .nav-link {
        text-decoration: none;
        color: #252628;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 1.1em; }
      #header .nav .nav-link-list .nav-link-container .white {
        color: white; }

#footer {
  margin-top: 10vw;
  /* probably gonna need adjusting after adding the logo*/
  display: flex;
  flex-direction: column; }
  #footer .footer-logo {
    background-image: url("#"); }
  #footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 10vw;
    width: 100%;
    height: 15vw; }
    #footer .footer-container h3 {
      text-align: center;
      font-size: 1.5vw;
      letter-spacing: 0.2vw;
      color: #333; }
      #footer .footer-container h3 hr {
        width: 4vw;
        border: none;
        margin: 0.75vw auto auto auto;
        border-bottom: 0.15vw solid #00A0FF;
        border-radius: 0.1vw; }
    #footer .footer-container .footer-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      #footer .footer-container .footer-text-container a {
        text-decoration: none;
        color: #333;
        font-size: 1vw;
        letter-spacing: 0.1vw;
        margin-bottom: 0.5vw; }
      #footer .footer-container .footer-text-container a:hover {
        color: #00A0FF; }
  #footer .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw 0 10vw;
    margin: 4vw 0 2vw 0; }
    #footer .footer-copyright p {
      font-size: 1em;
      letter-spacing: 2px; }
      #footer .footer-copyright p .footer-heart {
        color: red;
        font-size: 1.35vw; }
      #footer .footer-copyright p .footer-link {
        letter-spacing: 3px;
        text-decoration: none;
        color: #00A0FF; }
      #footer .footer-copyright p .footer-link:hover {
        text-decoration: underline; }

@media only screen and (min-width: 1500px) {
  #footer .footer-container h3 {
    font-size: 2.1em; }
  #footer .footer-container .footer-text-container a {
    font-size: 1.05em;
    margin-bottom: 0.5vw; } }

@media only screen and (min-width: 820px) and (max-width: 1080px) {
  #footer .footer-container h3 {
    font-size: 2.5vw; }
  #footer .footer-container .footer-text-container a {
    font-size: 1.35vw;
    margin-bottom: 0.75vw; } }

@media only screen and (max-width: 819px) {
  #footer .footer-container {
    display: none; }
  #footer .footer-copyright {
    padding: 0 2vw 0 2vw; } }

.blog-posts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 7% auto; }
  .blog-posts-container .blog-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat; }
    .blog-posts-container .blog-post-container .blog-post {
      background-color: white;
      border-radius: 10px;
      width: 60%;
      padding: 10% 5%;
      text-align: center;
      color: #252628; }
      .blog-posts-container .blog-post-container .blog-post .blog-post-title {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 5px;
        font-weight: 700;
        font-size: 1.2em;
        color: #252628;
        margin-top: 5%; }
      .blog-posts-container .blog-post-container .blog-post .blog-post-line {
        border: none;
        border-top: 2px solid #00A0FF;
        width: 40%;
        margin-top: 5%; }
      .blog-posts-container .blog-post-container .blog-post .blog-post-date {
        color: #969696;
        font-size: 0.9em; }
      .blog-posts-container .blog-post-container .blog-post .blog-post-desc {
        letter-spacing: 3px;
        margin-top: 5%;
        margin-bottom: 10%; }

body {
  overflow-x: hidden; }

#tiles {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 98vw; }
  #tiles .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%; }
    #tiles .container .tile-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      #tiles .container .tile-container .overflow-hidden {
        overflow: hidden;
        width: 90%;
        height: 90%; }
        #tiles .container .tile-container .overflow-hidden .tile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          filter: blur(0.12vw); }
        #tiles .container .tile-container .overflow-hidden .tile-1 {
          background-image: url("/images/tile1.jpg");
          background-size: 72vw, cover;
          background-position: -8vw -1.5vw; }
        #tiles .container .tile-container .overflow-hidden .tile-2 {
          background-image: url("/images/tile2.jpg");
          background-size: 60vw, cover;
          background-position: -10vw -1vw; }
        #tiles .container .tile-container .overflow-hidden .tile-3 {
          background-image: url("/images/tile3.jpg");
          background-size: 80vw, cover;
          background-position: -16vw -4vw; }
        #tiles .container .tile-container .overflow-hidden .tile-4 {
          background-image: url("/images/tile4.jpg");
          background-size: 80vw, cover;
          background-position: -24.5vw -7vw; }
      #tiles .container .tile-container .tile-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 54%;
        height: 45%;
        z-index: 2;
        text-align: center;
        border-radius: 5%;
        background-color: #ffffff; }
        #tiles .container .tile-container .tile-box object {
          margin: 0;
          margin-top: 2.5vw;
          height: 25%;
          width: 25%; }
        #tiles .container .tile-container .tile-box a {
          color: black;
          text-decoration: none; }
          #tiles .container .tile-container .tile-box a h3 {
            margin: 0;
            margin-top: 2.5vw;
            font-size: 1.4vw;
            font-weight: 700;
            letter-spacing: 3px; }
        #tiles .container .tile-container .tile-box p {
          text-align: center;
          margin: 0;
          margin-top: 1.8vw;
          color: #888;
          font-size: 1.05vw;
          line-height: 1.4vw; }

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  #about .about-section, #about .about-section-reverse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10% 0 0 0; }
    #about .about-section .about-sidetitle-container, #about .about-section-reverse .about-sidetitle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 50%; }
      #about .about-section .about-sidetitle-container .about-sidetitle, #about .about-section-reverse .about-sidetitle-container .about-sidetitle {
        margin: auto;
        font-weight: 400;
        font-size: 2.2em;
        letter-spacing: 0.12em; }
        #about .about-section .about-sidetitle-container .about-sidetitle hr, #about .about-section-reverse .about-sidetitle-container .about-sidetitle hr {
          width: 2.9em;
          border: none;
          border: 1px solid #00A0FF;
          border-radius: 5px;
          margin-top: 0.3em; }
    #about .about-section .about-sidetext-container, #about .about-section-reverse .about-sidetext-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%; }
      #about .about-section .about-sidetext-container .about-paragraph, #about .about-section-reverse .about-sidetext-container .about-paragraph {
        text-align: justify;
        width: 70%;
        color: #333;
        letter-spacing: 0.1em;
        line-height: 1.4em;
        font-size: 1.3em; }
  #about .about-section-reverse {
    flex-direction: row-reverse; }
  #about .big-bar {
    width: 60%;
    border: none;
    border: solid 2px #00A0FF;
    border-radius: 10px;
    margin-top: 10%; }

#contact {
  display: flex;
  flex-direction: column;
  width: 100%; }
  #contact .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10%; }
    #contact .contact-container .contact-title-container {
      margin: auto;
      font-weight: 400;
      letter-spacing: 0.12em; }
      #contact .contact-container .contact-title-container .contact-title {
        font-size: 2.2em;
        font-weight: 400; }
      #contact .contact-container .contact-title-container hr {
        width: 2.9em;
        border: none;
        border: 1px solid #00A0FF;
        border-radius: 5px;
        margin-top: 0.3em; }
    #contact .contact-container .contact-info-container {
      text-align: center;
      line-height: 1.6em;
      width: 50%; }
      #contact .contact-container .contact-info-container .contact-bold {
        white-space: nowrap;
        font-weight: 700; }

/* hides the paragraphs in tiles for smaller desktops and tablets */
@media only screen and (min-width: 480px) and (max-width: 1080px) {
  #tiles .container .tile-container .overflow-hidden {
    width: 95%;
    height: 95%; }
    #tiles .container .tile-container .overflow-hidden .tile-1 {
      background-size: 75.96vw, cover;
      background-position: -8.44vw -1.5825vw;
      filter: blur(0.15vw); }
    #tiles .container .tile-container .overflow-hidden .tile-2 {
      background-size: 63.3vw, cover;
      background-position: -10.55vw -1.055vw;
      filter: blur(0.15vw); }
    #tiles .container .tile-container .overflow-hidden .tile-3 {
      background-size: 84.4vw, cover;
      background-position: -16.88vw -4.22vw;
      filter: blur(0.15vw); }
    #tiles .container .tile-container .overflow-hidden .tile-4 {
      background-size: 84.4vw, cover;
      background-position: -25.8475vw -7.385vw;
      filter: blur(0.15vw); }
  #tiles .container .tile-container .tile-box object {
    margin-top: 20%;
    height: 30%;
    width: 30%; }
  #tiles .container .tile-container .tile-box a {
    margin: 10% 10% 5% 10%; }
    #tiles .container .tile-container .tile-box a h3 {
      font-size: 2.4vw;
      font-weight: 700;
      letter-spacing: 0.3vw; }
  #tiles .container .tile-container .tile-box p {
    display: none; } }

/* changes text layout to a single column for tablets */
@media only screen and (min-width: 480px) and (max-width: 819px) {
  #about .about-section, #about .about-section-reverse {
    flex-direction: column;
    margin: none; }
    #about .about-section .about-sidetitle-container, #about .about-section .about-sidetext-container, #about .about-section-reverse .about-sidetitle-container, #about .about-section-reverse .about-sidetext-container {
      width: 90%; }
      #about .about-section .about-sidetitle-container .about-paragraph, #about .about-section .about-sidetext-container .about-paragraph, #about .about-section-reverse .about-sidetitle-container .about-paragraph, #about .about-section-reverse .about-sidetext-container .about-paragraph {
        width: 90%;
        letter-spacing: none;
        font-size: 1.1em; }
    #about .about-section .about-sidetitle-container, #about .about-section-reverse .about-sidetitle-container {
      height: 50vh; }
      #about .about-section .about-sidetitle-container .about-sidetitle, #about .about-section-reverse .about-sidetitle-container .about-sidetitle {
        margin: none; }
  #about .big-bar {
    display: none; }
  #contact {
    justify-content: center;
    align-items: center; }
    #contact .contact-container {
      flex-direction: column;
      margin: none; }
      #contact .contact-container .contact-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh; }
        #contact .contact-container .contact-title-container .contact-title {
          margin: none; }
      #contact .contact-container .contact-info-container {
        width: 100%;
        font-size: 0.8em; } }

/* puts the tiles in a single column and does some cosmetic changes to the text for phones */
@media only screen and (max-width: 479px) {
  #tiles {
    width: 100%;
    height: 294vw; }
    #tiles .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr; }
      #tiles .container .tile-container .overflow-hidden {
        width: 100%;
        height: 100%;
        border-bottom: solid 1.5px white;
        border-top: solid 1.5px white; }
        #tiles .container .tile-container .overflow-hidden .tile-1 {
          background-size: 159.84vw, cover;
          background-position: -17.76vw -3.33vw;
          filter: blur(0.3vw); }
        #tiles .container .tile-container .overflow-hidden .tile-2 {
          background-size: 133.2vw, cover;
          background-position: -22.2vw -2.22vw;
          filter: blur(0.3vw); }
        #tiles .container .tile-container .overflow-hidden .tile-3 {
          background-size: 177.6vw, cover;
          background-position: -35.52vw -8.88vw;
          filter: blur(0.3vw); }
        #tiles .container .tile-container .overflow-hidden .tile-4 {
          background-size: 177.6vw, cover;
          background-position: -54.39vw -15.54vw;
          filter: blur(0.3vw); }
      #tiles .container .tile-container .tile-box {
        width: 60%;
        height: 40%;
        border: solid 0.5px #00A0FF; }
        #tiles .container .tile-container .tile-box object {
          height: 35%;
          width: 35%;
          margin-top: 8%; }
        #tiles .container .tile-container .tile-box a {
          margin: 5% 10% 10% 10%; }
          #tiles .container .tile-container .tile-box a h3 {
            font-size: 5vw;
            font-weight: 700;
            letter-spacing: 0.5vw; }
        #tiles .container .tile-container .tile-box p {
          display: none; }
  #about .about-section, #about .about-section-reverse {
    flex-direction: column;
    margin: none; }
    #about .about-section .about-sidetitle-container, #about .about-section .about-sidetext-container, #about .about-section-reverse .about-sidetitle-container, #about .about-section-reverse .about-sidetext-container {
      width: 90%; }
      #about .about-section .about-sidetitle-container .about-paragraph, #about .about-section .about-sidetext-container .about-paragraph, #about .about-section-reverse .about-sidetitle-container .about-paragraph, #about .about-section-reverse .about-sidetext-container .about-paragraph {
        width: 90%;
        letter-spacing: none;
        font-size: 1em; }
    #about .about-section .about-sidetitle-container, #about .about-section-reverse .about-sidetitle-container {
      height: 110vh; }
      #about .about-section .about-sidetitle-container .about-sidetitle, #about .about-section-reverse .about-sidetitle-container .about-sidetitle {
        line-height: 1.3em;
        margin: none; }
  #about .big-bar {
    display: none; }
  #contact {
    justify-content: center;
    align-items: center; }
    #contact .contact-container {
      flex-direction: column;
      margin: none; }
      #contact .contact-container .contact-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh; }
        #contact .contact-container .contact-title-container .contact-title {
          margin: none; }
      #contact .contact-container .contact-info-container {
        width: 100%;
        font-size: 0.8em; } }

body {
  overflow-x: hidden; }

#title {
  width: 100%;
  height: 55vw;
  background-image: url("../images/tile2.jpg");
  background-size: 100vw auto, cover;
  background-position: 0 -6vw; }
  #title .title-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 23, 35, 0.2);
    width: 100%;
    height: 100%; }
    #title .title-layer .title-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center; }
      #title .title-layer .title-container .title-title {
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: white; }
      #title .title-layer .title-container .title-description {
        margin: 2.5vw 1vw auto 1vw;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: white; }
      #title .title-layer .title-container .title-button {
        padding: 19px 70px 19px 70px;
        margin-top: 3.5vw;
        border-radius: 40px;
        background-color: white;
        font-weight: 700;
        font-size: 1.1em; }
        #title .title-layer .title-container .title-button .realizacje-button {
          text-decoration: none;
          color: #00A0FF; }

#sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #sub-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 2vw auto 2vw; }
    #sub-nav .container .tile-container {
      display: flex;
      flex-direction: column; }
      #sub-nav .container .tile-container .tile-1 {
        background-image: url("/images/tile1.jpg");
        background-size: 40vw, cover;
        background-position: -4vw -2vw; }
      #sub-nav .container .tile-container .tile-2 {
        background-image: url("/images/tile2.jpg");
        background-size: 33vw, cover;
        background-position: 0vw -1vw; }
      #sub-nav .container .tile-container .tile-3 {
        background-image: url("/images/tile3.jpg");
        background-size: 39vw, cover;
        background-position: -2vw -3vw; }
      #sub-nav .container .tile-container .tile {
        height: 20vw;
        width: 29vw;
        border-radius: 0.5vw; }
      #sub-nav .container .tile-container .caption {
        width: 29vw; }
        #sub-nav .container .tile-container .caption p {
          margin-top: 1vw;
          text-justify: left;
          font-weight: 700;
          font-size: 1.05em;
          letter-spacing: 0.08em;
          line-height: 1.15em; }

@media only screen and (max-width: 600px) {
  #title .title-layer .title-container .title-title {
    font-size: 10.6vw;
    letter-spacing: 1.6vw; }
  #title .title-layer .title-container .title-description {
    display: none; }
  #title .title-layer .title-container .title-button {
    padding: 3.5vw 10vw 3.5vw 10vw;
    margin-top: 7vw;
    font-size: 5vw;
    letter-spacing: 0.5vw; }
  #sub-nav {
    width: 100%;
    height: 124.2vw; }
    #sub-nav .container {
      margin: 0;
      flex-direction: column;
      width: 100vw;
      height: 100%; }
      #sub-nav .container .tile-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #sub-nav .container .tile-container .tile {
          height: 46vw;
          width: 100vw;
          border-top: 1px solid white;
          border-bottom: 1px solid white; }
        #sub-nav .container .tile-container .tile-1 {
          background-image: url("/images/tile1.jpg");
          background-size: 120vw, cover;
          background-position: 0 -4.44vw; }
        #sub-nav .container .tile-container .tile-2 {
          background-image: url("/images/tile2.jpg");
          background-size: 99vw, cover;
          background-position: 0 -2.22vw; }
        #sub-nav .container .tile-container .tile-3 {
          background-image: url("/images/tile3.jpg");
          background-size: 117vw, cover;
          background-position: 0 -6.66vw; }
        #sub-nav .container .tile-container .caption {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 41.33vw;
          width: 90vw;
          margin-left: -2vw; }
          #sub-nav .container .tile-container .caption p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 68vw;
            height: 25vw;
            background-color: white;
            border-radius: 2vw;
            padding: 0 1vw 0 1vw; } }

#description .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
  width: 100vw;
  text-align: center; }
  #description .container p {
    margin: auto 15vw auto 15vw;
    font-size: 2.8em; }

body {
  overflow-x: hidden; }

#title {
  width: 100%;
  height: 55vw;
  background-image: url("../images/tile2.jpg");
  background-size: 100vw auto, cover;
  background-position: 0 -6vw; }
  #title .title-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 23, 35, 0.2);
    width: 100%;
    height: 100%; }
    #title .title-layer .title-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center; }
      #title .title-layer .title-container .title-title {
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: white; }
      #title .title-layer .title-container .title-description {
        margin: 2.5vw 1vw auto 1vw;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: white; }
      #title .title-layer .title-container .title-button {
        padding: 19px 70px 19px 70px;
        margin-top: 3.5vw;
        border-radius: 40px;
        background-color: white;
        font-weight: 700;
        font-size: 1.1em; }
        #title .title-layer .title-container .title-button .realizacje-button {
          text-decoration: none;
          color: #00A0FF; }

#sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #sub-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 2vw auto 2vw; }
    #sub-nav .container .tile-container {
      display: flex;
      flex-direction: column; }
      #sub-nav .container .tile-container .tile-1 {
        background-image: url("/images/tile1.jpg");
        background-size: 40vw, cover;
        background-position: -4vw -2vw; }
      #sub-nav .container .tile-container .tile-2 {
        background-image: url("/images/tile2.jpg");
        background-size: 33vw, cover;
        background-position: 0vw -1vw; }
      #sub-nav .container .tile-container .tile-3 {
        background-image: url("/images/tile3.jpg");
        background-size: 39vw, cover;
        background-position: -2vw -3vw; }
      #sub-nav .container .tile-container .tile {
        height: 20vw;
        width: 29vw;
        border-radius: 0.5vw; }
      #sub-nav .container .tile-container .caption {
        width: 29vw; }
        #sub-nav .container .tile-container .caption p {
          margin-top: 1vw;
          text-justify: left;
          font-weight: 700;
          font-size: 1.05em;
          letter-spacing: 0.08em;
          line-height: 1.15em; }

@media only screen and (max-width: 600px) {
  #title .title-layer .title-container .title-title {
    font-size: 10.6vw;
    letter-spacing: 1.6vw; }
  #title .title-layer .title-container .title-description {
    display: none; }
  #title .title-layer .title-container .title-button {
    padding: 3.5vw 10vw 3.5vw 10vw;
    margin-top: 7vw;
    font-size: 5vw;
    letter-spacing: 0.5vw; }
  #sub-nav {
    width: 100%;
    height: 124.2vw; }
    #sub-nav .container {
      margin: 0;
      flex-direction: column;
      width: 100vw;
      height: 100%; }
      #sub-nav .container .tile-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #sub-nav .container .tile-container .tile {
          height: 46vw;
          width: 100vw;
          border-top: 1px solid white;
          border-bottom: 1px solid white; }
        #sub-nav .container .tile-container .tile-1 {
          background-image: url("/images/tile1.jpg");
          background-size: 120vw, cover;
          background-position: 0 -4.44vw; }
        #sub-nav .container .tile-container .tile-2 {
          background-image: url("/images/tile2.jpg");
          background-size: 99vw, cover;
          background-position: 0 -2.22vw; }
        #sub-nav .container .tile-container .tile-3 {
          background-image: url("/images/tile3.jpg");
          background-size: 117vw, cover;
          background-position: 0 -6.66vw; }
        #sub-nav .container .tile-container .caption {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 41.33vw;
          width: 90vw;
          margin-left: -2vw; }
          #sub-nav .container .tile-container .caption p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 68vw;
            height: 25vw;
            background-color: white;
            border-radius: 2vw;
            padding: 0 1vw 0 1vw; } }

#description .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140vh;
  width: 100vw;
  text-align: center; }
  #description .container p {
    margin: auto 15vw auto 15vw;
    font-size: 2.8em; }

body {
  overflow-x: hidden; }

#title {
  width: 100%;
  height: 55vw;
  background-image: url("../images/tile2.jpg");
  background-size: 100vw auto, cover;
  background-position: 0 -6vw; }
  #title .title-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 23, 35, 0.2);
    width: 100%;
    height: 100%; }
    #title .title-layer .title-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center; }
      #title .title-layer .title-container .title-title {
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 0.15em;
        color: white; }
      #title .title-layer .title-container .title-description {
        margin: 2.5vw 1vw auto 1vw;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: white; }
      #title .title-layer .title-container .title-button {
        padding: 19px 70px 19px 70px;
        margin-top: 3.5vw;
        border-radius: 40px;
        background-color: white;
        font-weight: 700;
        font-size: 1.1em; }
        #title .title-layer .title-container .title-button .realizacje-button {
          text-decoration: none;
          color: #00A0FF; }

#sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #sub-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 2vw auto 2vw; }
    #sub-nav .container .tile-container {
      display: flex;
      flex-direction: column; }
      #sub-nav .container .tile-container .tile-1 {
        background-image: url("/images/tile1.jpg");
        background-size: 40vw, cover;
        background-position: -4vw -2vw; }
      #sub-nav .container .tile-container .tile-2 {
        background-image: url("/images/tile2.jpg");
        background-size: 33vw, cover;
        background-position: 0vw -1vw; }
      #sub-nav .container .tile-container .tile-3 {
        background-image: url("/images/tile3.jpg");
        background-size: 39vw, cover;
        background-position: -2vw -3vw; }
      #sub-nav .container .tile-container .tile {
        height: 20vw;
        width: 29vw;
        border-radius: 0.5vw; }
      #sub-nav .container .tile-container .caption {
        width: 29vw; }
        #sub-nav .container .tile-container .caption p {
          margin-top: 1vw;
          text-justify: left;
          font-weight: 700;
          font-size: 1.05em;
          letter-spacing: 0.08em;
          line-height: 1.15em; }

@media only screen and (max-width: 600px) {
  #title .title-layer .title-container .title-title {
    font-size: 10.6vw;
    letter-spacing: 1.6vw; }
  #title .title-layer .title-container .title-description {
    display: none; }
  #title .title-layer .title-container .title-button {
    padding: 3.5vw 10vw 3.5vw 10vw;
    margin-top: 7vw;
    font-size: 5vw;
    letter-spacing: 0.5vw; }
  #sub-nav {
    width: 100%;
    height: 124.2vw; }
    #sub-nav .container {
      margin: 0;
      flex-direction: column;
      width: 100vw;
      height: 100%; }
      #sub-nav .container .tile-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #sub-nav .container .tile-container .tile {
          height: 46vw;
          width: 100vw;
          border-top: 1px solid white;
          border-bottom: 1px solid white; }
        #sub-nav .container .tile-container .tile-1 {
          background-image: url("/images/tile1.jpg");
          background-size: 120vw, cover;
          background-position: 0 -4.44vw; }
        #sub-nav .container .tile-container .tile-2 {
          background-image: url("/images/tile2.jpg");
          background-size: 99vw, cover;
          background-position: 0 -2.22vw; }
        #sub-nav .container .tile-container .tile-3 {
          background-image: url("/images/tile3.jpg");
          background-size: 117vw, cover;
          background-position: 0 -6.66vw; }
        #sub-nav .container .tile-container .caption {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 41.33vw;
          width: 90vw;
          margin-left: -2vw; }
          #sub-nav .container .tile-container .caption p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 68vw;
            height: 25vw;
            background-color: white;
            border-radius: 2vw;
            padding: 0 1vw 0 1vw; } }

#title .title-layer .title-container .title-description, #title .title-layer .title-container .title-button {
  display: none; }

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  #description .contact-container {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6em;
    margin: 10vw 0 0 0; }
    #description .contact-container .contact-bold {
      white-space: nowrap;
      font-weight: 700; }
  #description .map-description {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6em;
    margin-bottom: 1vw; }
  #description #map {
    height: 30vw;
    width: 45vw;
    margin-bottom: 5vw;
    border-radius: 1vw; }

#sub-nav {
  display: none; }

.post-container .post-image {
  width: 100%;
  height: 100vh;
  background-repeat: none;
  background-position: center;
  background-size: cover; }
  .post-container .post-image .post-image-layer {
    background-color: rgba(2, 23, 35, 0.2);
    width: 100%;
    height: 100%; }
    .post-container .post-image .post-image-layer .post-title {
      padding-top: 35vh;
      font-size: 2em;
      font-weight: 700;
      text-align: center;
      letter-spacing: 5px;
      color: white; }
    .post-container .post-image .post-image-layer .post-line {
      border: none;
      border-top: 3px solid #00A0FF;
      width: 15%;
      margin-top: 2%; }
    .post-container .post-image .post-image-layer .post-date {
      color: white;
      text-align: center;
      margin-top: 2%;
      letter-spacing: 2px; }
    .post-container .post-image .post-image-layer .post-short {
      margin-top: 2%;
      text-align: center;
      color: white;
      letter-spacing: 2px;
      font-size: 1.2em; }

.post-container .post-content {
  width: 65%;
  margin: 5% auto;
  letter-spacing: 3px;
  line-height: 140%; }
